---
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
---

<a href={siteTitleHref} style="text-decoration: none; line-height: 1;color: var(--sl-color-text-accent);">Практическое введение<br/>в веб&#8209;картографию</a>


